@font-face {
    font-family: 'Myriad Pro Light';
    src: url('./fonts/MariadPro/MyriadPro-Light.eot');
    src: url('./fonts/MariadPro/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/MariadPro/MyriadPro-Light.woff') format('woff'),
    url('./fonts/MariadPro/MyriadPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: "Athelas";
    src: url('./fonts/Athelas/Athelas-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    }