$main-color: #d7794a;
$light_color: #e8e6e6;
$titels-color: #a95e39;
$bar-color: #1b2b31;
$number-color: #995437;
$contact-color: #233740;
$contact-color-text: #a6a9ab;
$white-color: #ffffff;
$button-color: #623621;


$mariad: 'Myriad Pro Light';
$text-font: 'Helvetica';
$number-font: 'Vani';